.mainbox{
    position: relative;
    top: 100px;
}
.varblock{
    position: absolute;
    top:400px; 
    left: 100px;
    width:100%;
}
.smltxt{
    color: forestgreen;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}
.lgtxt{
    color:black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 32px ;
}
.txtjk{
    text-align: center;
    font-size: 15px;
}
